// Заголовки, общие БЄМ блоки и 
._title{
	font-family: $fontFamily;
	@include adaptiveValue("font-size", 30, 26);
	font-weight: 700;
	color: #000;
	line-height: 120%;
	text-align: center;
	padding: 15px;
}