//====================================================================
.footer {
}
.footer__container {
}
._container-2 {
}
.footer__row {
	// background-color: teal;
	}
.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// background-color: yellow;
	padding: 15px;
	width: 100%;
	@media (max-width:$mobile){
		 flex-direction: column; 
	}
}
.footer__logo {
}
._icon-logo-footer {
}
.footer-nav__list {
	// background-color: greenyellow;
  align-items: center;
  @media (max-width:$mobile){
		text-align: center;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	@media (min-width:$mobile){
		  	display: flex;
				gap: 25px;
	}
}

.footer-nav__link {
	color: #969696;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	@media (max-width:$mobile){
		line-height: 180%;
	}
}

.footer__social {
	// background-color: red;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 10px 15px;
}
.footer__social-link {
}
._icon-linkedin {
}
._icon-facebook {
}
._icon-insta {
}

.footer__social-link {
	color: #969696;
	font-size: 24px;
}
._icon-logo-footer::before{
  width: toRem(105);
	height: toRem(50);
	color: #f95c5c;
	font-size: toRem(44);
	padding: toRem(5);
	margin: toRem(15);
	@media (max-width:$mobile){
      margin-bottom: toRem(20);
  }
}
//=================================================
