//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
}
.header__wrapper {
	padding: 0 30px;
	// margin: 0 50px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 20px;
	@media (min-width:$mobile){
		  top: 50px;
	}
	z-index: 50;
	color: #fff;
}
.header__container {
	background-color: black;
	max-width: toRem(1440);
	margin: 0 auto;
	// padding: 0 toRem(95);
	border-radius: toRem(10);
	@include adaptiveValue("padding-right", 95, 0);
	@include adaptiveValue("padding-left", 95, 0);
	// background-color: yellow;
}
._container {
}
.header__body {
	// background-color: blue;
	display: flex;
	align-items: center;
	padding: 5px 0;
	min-height: 50px;
}
.header__main {
	display: flex;
	// flex: 0 0 100;
	align-items: center;
	width: 100%;
}
.header__logo {

}
.header__menu {
}
.menu {
	flex: 0 1 100%;
	// background-color: red;
	max-width: toRem(500);
	margin: 0 auto;
}
.menu__body {
}
.menu__list {
	@media (min-width:$mobile){
		  display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
	}
}
.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 3px;
	padding: 5px 0px;
	position: relative;
}
.menu__link {
	font-weight: 500;
	font-size: 16px;
	color: #969696;
	transition: color 0.3s ease 0s;
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		// position: relative;
		flex: 0 0 30px;
		// width: 30px;
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
