//====================================================================================================
.page__main-block {
	// background-color: yellow;
}
.main-block {
	// background-color: blue;
}

.__block {

}
.main-block__container {
	background-color: #000;
	height: 100%;
	border-radius: toRem(20);
	margin-bottom: 20px;
}

._container-2{

}

.main-block__body {
	// background-color: red;
	@include adaptiveValue("padding-top", 250, 120);
	max-width: 600px;
	@media (min-width:$mobile){
		 margin-left: toRem(45); 
	}
}

.main-block__image{

}

.main-image{
	// background-color: #f2f2f2;
	max-width: toRem(1250);
	max-height: toRem(500);
	width: 100%;
	object-fit: contain;
	object-position: right;
	position: relative;
	z-index: 1;
	@media (min-width:$mobile){
		margin-top: -200px;
	}
}
	
.main-text{
	color: #fff;
	@include adaptiveValue("font-size", 60, 30);
  font-weight: 600;
  line-height: 120%;
	margin-bottom: toRem(70);
}

.main-button{
	display: flex;
	flex-direction: column;
	max-width: toRem(500);
	position: relative;
	z-index: 30;
}

.main-button a{
	margin-bottom: 16px;
	position: relative;
	z-index: 30;
}
//====================================================================================================
